

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
    width: 100%;
    margin: 0;

	}

h1, h2, h3, nav, footer {
    text-align: center;
}

#sitenav {
    margin-bottom: 1vw;
    border-top: 4px double black;
    border-bottom: 1px solid black;
    padding: 1vw;
    font-size: 1.33vw;

}

#brevnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;;
  background-color: #f1f1f1;
  border: 1px solid #555;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

h2 {
    padding: 1vw;
}

a {

    color: #b55171; 
}

a:hover {
	color: #d1889f;
	
}

img  {

    margin-bottom: 2em;    
    }

h3 {
    font-weight: bold;
    padding: 1vw;
   } 
   
rend.left {
    text-align: left;
    }
    
rend.right {
    text-align: right;
    }
    


#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}