

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
    width: 100%;
    margin: 0;
	}

P {
    margin: 0;
   
}

div.col-sm {
    margin-top: 10px;
    margin-bottom: 17px;

    }


.center {
    text-align: center;
    
    } 
    
.right {
    float: right;
    
    } 
    
.illegible {
    color: #888ad1;
    }

h1, h2, h3, nav, footer {
    text-align: center;
}

#sitenav {
    margin-bottom: 0;
    border-top: 4px double black;
    border-bottom: 1px solid black;
    padding: 1vw;
    font-size: 1.33vw;

}

a {

    color: #435091; 
}

a:hover {
	color: #8894d1;
	
}

#brevnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  border: 1px solid #555;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  position: absolute;

}

li a {
  display: block;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
    background-color: #435091;

}

li {
  border-bottom: 1px solid #555;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}


li:first-child {
  display: block;
  background-color: #435091;
  border-top: none;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.18vw;
  text-align: center;

}

li:last-child {
  border-bottom: none;
}

h2 {
    padding: 1vw;
}




h3 {
    font-weight: bold;
    padding: 1vw;
   } 
   
    


#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}